pkgbase = mercury
	pkgdesc = The mercury language compiler.
	pkgver = 2022.02.26
	pkgrel = 1
	url = http://www.mercurylang.org/
	arch = i686
	arch = x86_64
	license = GPL
	makedepends = flex
	makedepends = bison
	depends = gcc
	depends = make
	options = staticlibs
	source = http://dl.mercurylang.org/rotd/mercury-srcdist-rotd-2022-02-26.tar.xz
	sha256sums = 000a1dd1d0c0ab4ffe4167d1c33e42d6f9a8b04078cc28ca2ce130af5445b2d9

pkgname = mercury
