pkgbase = httpstatus
	pkgdesc = HTTP status codes man page
	pkgver = f3bb175
	pkgrel = 1
	url = https://github.com/jschauma/httpstatus
	arch = any
	license = CUSTOM
	source = httpstatus-f3bb175.zip::https://codeload.github.com/jschauma/httpstatus/zip/f3bb175630a8cce90c23f3005a0d5814a0544e9d
	sha256sums = e81b1911add684b5586da77a5cddd0dec7446949c70d57933b9eb9b3d48d832e

pkgname = httpstatus
